# Statistic Analysis - Statsmodels
## Business problem
Is there any relationship between the area of real estate (in square meters) and the value of rent in a given city? If so, how can we measure it?

In [2]:
# Python Version
from platform import python_version
print('Python Version: ', python_version())

Python Version:  3.11.7

In [3]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [4]:
# Loading data
dataframe_rental = pd.read_csv('dataset.csv')

In [6]:
dataframe_rental.shape

(3000, 7)

In [7]:
dataframe_rental.columns

Index(['rent_value', 'area_sqm', 'construction_year', 'location_code',
       'bathroom_qty', 'kitchen_qty', 'zone_code'],
      dtype='object')

In [8]:
dataframe_rental.head()

,rent_value,area_sqm,construction_year,location_code,bathroom_qty,kitchen_qty,zone_code
0,120.97436,35,1939,1,0,0,1112
1,436.97433,104,1939,1,1,0,1112
2,355.74360,29,1971,2,0,0,2114
3,282.92310,39,1972,2,0,0,2148
4,807.23080,97,1985,1,0,0,2222

In [9]:
dataframe_rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rent_value         3000 non-null   float64
 1   area_sqm           3000 non-null   int64
 2   construction_year  3000 non-null   int64
 3   location_code      3000 non-null   int64
 4   bathroom_qty       3000 non-null   int64
 5   kitchen_qty        3000 non-null   int64
 6   zone_code          3000 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 164.2 KB